.circle-view-title-default {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 0.8);
}

.circle-view-title-hover {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.circle-view-title-click {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.testImageOverlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}