.circle-view-title-default {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 0.8);
}

.circle-view-title-hover {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.circle-view-title-click {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.circle-view-body-default {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.footer-text-link:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
  }

.header-wrap{
    position: fixed;
    top: 0;
    justify-content: flex-start;
    z-index: 100000;
}

.all-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 1920px;
    background-color: #E5E9ED;
    background-image: url("../public/assets/backgrounds/skills-shapes.png")
}

.wrap-content-div {
    border-style: none solid;
    border-width: 2px;
    border-color: rgb(173, 175, 177);
}