.circle-view-title-default {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 0.8);
}

.circle-view-title-hover {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.circle-view-title-click {
    /* x-span, y-span, blur, colour*/
    text-shadow: 2px 4px 0px rgba(230, 57, 70, 1);
}

.footer-text-link:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
  }

.header-wrap{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    z-index: 100000;
}